pymongo==3.13.0
motor==2.5.1
TgCrypto==1.2.5  # Downgrade motor instead of Python
dnspython==2.4.2
hachoir==3.1.2
Pillow==10.2.0
aiohttp==3.9.1
pytz==2024.1
humanize==4.9.0
pyromod==2.0.0
ffmpeg-python==0.2.0
cloudscraper==1.2.71
